.chat-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-top {
    display: flex;
    background-color: #fff1c2;
    height: 10.5%;
    align-items: center;
    gap: 20px;
}

.backmain-btn {
    font-size: 25px;
    width: 60px;
    color: #2c2c2c;
    text-decoration: none;
    padding-left: 40px;
}

.group-stuff {
    display: flex;
    align-items: center;
    gap: 415px;
}

.group-name {
    font-size: 30px;
    width: 400px;
}

.group-btn {
    display: flex;
    gap: 30px;
}

.chat-btns {
    background-color: #2c2c2c;
    color: #f5f5f5;
    padding-top: 5px;
    width: 130px;
    height: 40px;
    border: #2C2C2C;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-right: 20px;
}

.group-chat {
    height: 89.5%;
}