.overall-filter {
    background-color: #fff1c2;
    height: 160vh;
}

.filter-page {
    padding: 15px;
    margin-top: 15px;
}

#filter-header {
    font-size: 35px;
}

#quote {
    font-size: 25px;
}

.filter-form {
    display: flex;
    flex-direction: column; 
    padding-left: 20px;
    margin-top: 50px;
}

.indiv {
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    gap: 20px;
}

.questions {
    width: 500px;
    font-size: 20px;
    flex-shrink: 0;
}

.filter-select {
    background-color: #FFF;
    width: 400px;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.checkbox-space {
    display: flex;
    justify-content: space-between; /* Or try: space-around, or even center + gap */
}

.checkbox-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1; /* Ensures equal space per item */
}

.checkbox {
    font-size: 16px;
    gap: 20px;
    box-shadow: none;
}

.check-labels {
  font-size: 16px;
  margin-top: 5px;            /* Adds space between checkbox and label */
  display: block;             /* Forces label to break to new line */
  text-align: center;
}

.search-btn {
    background-color: #2c2c2c;
    color: #f5f5f5;
    padding: 10px;
    width: 120px;
    height: 40px;
    border: #2C2C2C;
    border-radius: 8px;
    font-size: 15px;
    margin-left: auto;
    cursor: pointer;
}

