#finder-header {
    margin-top: 20px;
    font-size: 35px;
}

.group-info {
    font-size: 25px;
}

.create-header {
    font-size: 25px;
}

.create-group {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.create-btn {
    background-color: #2c2c2c;
    color: #f5f5f5;
    padding: 10px;
    width: 120px;
    height: 40px;
    border: #2C2C2C;
    border-radius: 8px;
    font-size: 15px;
    margin-left: auto;
    margin-right: 40px;
    cursor: pointer;
}

.group-options {
    background-color: #fff1c2;
    margin: 30px 20px 30px 20px;
    gap: 20px;
    border: 2px solid #f0e6c5;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.group-details {
    display: flex;
    margin-left: 0;
}

.group-pref {
    margin-top: 20px;
    width: 450px;
}

.pref {
    font-size: 17px;
}

.details-right {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    align-items: center;
    gap: 40px;
}

.comp-score { 
    margin-top: 20px;
    width: 160px;
    height: 160px;
    background-color: #4abdac;
    font-weight: 500;
    font-size: 14px;
    border-radius: 999px;
    display: flex;
    flex-direction: column;   
    justify-content: center;     
    align-items: center;       
    text-align: center; 
}

#score {
    font-size: 30px;
    color: white;
}

.join-btn {
    background-color: #2c2c2c;
    color: #f5f5f5;
    width: 170px;
    margin-bottom: 18px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 20px;
}