.overall-page {
    background-color: #fff1c2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: red;
}

.header {
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

h1 {
    font-size: 20px; 
    margin: 0;
    line-height: 1;                      
}

p {
    font-size: 25px;
    text-align: center;
}

button { 
    width: 250px;
    height: 80px;
    padding: 10px;
    border: #2C2C2C;
    border-radius: 8px;
    font-size: 5px;
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
}



