html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
    background-color: #fff1c2;
    /*background: url('lilypad_extracted.png') no-repeat center fixed;*/
    background-size: cover;
    background-position: center;
    width: 100vw;               /* full horizontal width */
    padding: 40px 20px;
    box-sizing: border-box;     /* prevent padding from exceeding width */
    display: flex;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 45px;
    color: black;    
}

.form-container {
    padding: 16px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin:auto;
    gap: 10px;
}

label {
    font-size: 18px;
    margin: 15px 0px 5px;
}

input, select {
    background-color: #FFF;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.module-select {
    font-size: 14px;
}

.register-btn {
    background-color: #2c2c2c;
    color: #f5f5f5;
    padding: 10px;
    border: #2C2C2C;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
}




