.bar {
    background-color: #E6FFFB;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

#bar-logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.con-nav {
    display: flex;
    gap: 15px;
    margin-right: 30px;
}

.nav-btn {
    background-color: transparent;
    font-size: 20px;
    color: #1e1e1e;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
}

.landing-btn {
    background-color: #fff;
    color: #1e1e1e;
    width: 120px;
    height: 40px;
    padding: 10px;
    border: #2C2C2C;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
}